services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    network_mode: host # Allows container to find the host's X-Server easily
    environment:
      # Use host.docker.internal:0 for Windows/Mac
      # Use :0 for Linux
      - DISPLAY=${DISPLAY:-host.docker.internal:0}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    devices:
      - /dev/dri:/dev/dri  # Maps host GPU device to container
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
              driver: nvidia
              count: all
    volumes:
      - .:/workspace:cached
      - /tmp/.X11-unix:/tmp/.X11-unix # Required for Linux hosts
    group_add:
      - video
      # - render
    working_dir: /workspace
    cap_add:
      - SYS_PTRACE # Enable GDB/LLDB debugging
    security_opt:
      - seccomp:unconfined
    command: [ "sleep", "infinity" ] # Keep container alive for VS Code
